certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
Flask==2.2.5
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.1.1
gunicorn==25.0.3
idna==3.11
infosci-spark-client @ git+https://github.com/MrPeterss/infosci-spark-client.git@20b5e9dc8f9bb3286ee907aba7dd7f4fc4167d79
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.3
packaging==26.0
pandas==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==2.2.2
